body {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}


h2 {
  border-bottom: 2px solid #333333;
  margin-top: 30px;
}

figure {
  background-color: #f2eded;
  border: 1px solid #ccc;
  text-align: center;
  padding: 15px;
  margin: 30px;
}

figcaption {
  font-style: italic;
  margin-top: 10px;
}

p {
  padding: 0 45px;
  text-indent: 30px;
}

#centro-distribuicao {
  margin-left: auto;
  margin-right: auto;
  width: 540px;
}
.rodape {
  width: 100vw;
  position: relative;
  left: calc((100vw - 940px) / -2);
}



#familia-pelho {
  float: right;
  margin: 0 0 10px 10px;
}

p:first-letter {
  font-weight: bold;
}

h1 + p {
  text-indent: 0;
}

:not(p) + p:first-line {
  font-variant: small-caps;
}
